// The {{.Type}} executed by {{.Name}}.
const {{.Name}}_Operation = `{{$.Body}}`

{{.Doc}}
func {{.Name}}(
    {{if ne .Config.ContextType "-" -}}
    ctx_ {{ref .Config.ContextType}},
    {{end}}
    {{- if not .Config.ClientGetter -}}
    client_ *{{ref "github.com/willabides/octoql.Client"}},
    {{end}}
    {{- if .Input -}}
    {{- range .Input.Fields -}}
    {{/* the GraphQL name here is the user-specified variable-name */ -}}
    {{.GraphQLName}} {{.GoType.Reference}},
    {{end -}}
    {{end -}}
) (*{{ref "github.com/willabides/octoql.Response"}}[{{.ResponseName}}], error) {
    {{if .Config.ClientGetter -}}
    client_, err_ := {{ref .Config.ClientGetter}}({{if ne .Config.ContextType "-"}}ctx_{{else}}{{end}})
    if err_ != nil {
        return nil, err_
    }
    {{end -}}
    {{if .Input -}}
    variables_ := {{.Input.GoName}}{
        {{range .Input.Fields -}}
        {{.GoName}}: {{.GraphQLName}},
        {{end -}}
    }
    {{end -}}
    return {{ref "github.com/willabides/octoql.Do"}}[{{.ResponseName}}](
        {{if ne .Config.ContextType "-"}}ctx_{{else}}{{ref "context.Background"}}(){{end}},
        client_,
        {{ref "github.com/willabides/octoql.Operation"}}{
            Name: "{{.Name}}",
            Query: {{.Name}}_Operation,
        },
        {{if .Input}}&variables_{{else}}nil{{end}},
    )
}
