// The {{.Type}} executed by {{.Name}}.
const {{.Name}}_Operation = `{{$.Body}}`

{{.Doc}}
func {{.Name}}(
    {{if ne .Config.ContextType "-" -}}
    {{.ContextName}} {{ref .Config.ContextType}},
    {{end}}
    {{- if not .Config.ClientGetter -}}
    {{.ClientName}} *{{ref "github.com/willabides/octoql.Client"}},
    {{end}}
    {{- if .Input -}}
    {{- range .Input.Fields -}}
    {{/* the GraphQL name here is the user-specified variable-name */ -}}
    {{.GraphQLName}} {{.GoType.Reference}},
    {{end -}}
    {{end -}}
) (*{{ref "github.com/willabides/octoql.Response"}}[{{.ResponseName}}], error) {
    {{if .Config.ClientGetter -}}
    {{.ClientName}}, {{.ErrorName}} := {{ref .Config.ClientGetter}}({{if ne .Config.ContextType "-"}}{{.ContextName}}{{else}}{{end}})
    if {{.ErrorName}} != nil {
        return nil, {{.ErrorName}}
    }
    {{end -}}
    {{if .Input -}}
    {{.VariablesName}} := {{.Input.GoName}}{
        {{range .Input.Fields -}}
        {{.GoName}}: {{.GraphQLName}},
        {{end -}}
    }
    {{end -}}
    return {{ref "github.com/willabides/octoql.Do"}}[{{.ResponseName}}](
        {{if ne .Config.ContextType "-"}}{{.ContextName}}{{else}}{{ref "context.Background"}}(){{end}},
        {{.ClientName}},
        {{ref "github.com/willabides/octoql.Operation"}}{
            Name: "{{.Name}}",
            Query: {{.Name}}_Operation,
        },
        {{if .Input}}&{{.VariablesName}}{{else}}nil{{end}},
    )
}
