func __octoqlDo[T any](
	ctx {{ref "context.Context"}},
	client *{{ref "github.com/willabides/octoql.Client"}},
	payload {{ref "github.com/willabides/octoql.Payload"}},
) (*T, error) {
	response := new(T)
	hasData, err := client.Execute(ctx, payload, response)
	if !hasData {
		return nil, err
	}
	if err != nil {
		return nil, {{ref "github.com/willabides/octoql.NewPartialDataError"}}(response, err)
	}
	return response, nil
}
