type __octoqlPartialDataError[T interface{}] struct {
	data *T
	err  error
}

func (err *__octoqlPartialDataError[T]) Error() string {
	if err == nil || err.err == nil {
		return "graphql response contains partial data"
	}
	return err.err.Error()
}

func (err *__octoqlPartialDataError[T]) Unwrap() error {
	if err == nil {
		return nil
	}
	return err.err
}

func (err *__octoqlPartialDataError[T]) PartialData() *T {
	if err == nil {
		return nil
	}
	return err.data
}

func __octoqlDo[T interface{}](
	ctx {{ref "context.Context"}},
	client *{{ref "github.com/willabides/octoql.Client"}},
	payload {{ref "github.com/willabides/octoql.Payload"}},
	newPartialDataError func(*T, error) error,
) (*T, error) {
	var data T
	response := &data
	hasData, err := client.Execute(ctx, payload, response)
	if !hasData {
		return nil, err
	}
	if err != nil {
		return nil, newPartialDataError(response, err)
	}
	return response, nil
}
