// The {{.Type}} executed by {{.Name}}.
const {{.Name}}_Operation = `{{$.Body}}`

{{if and .Config.TestHandlerGenerated .Input -}}
// {{.Name}}Variables contains the variables accepted by {{.Name}}.
type {{.Name}}Variables = {{.Input.GoName}}

{{end -}}
// {{.Name}}PartialDataError contains partial data returned by {{.Name}}.
type {{.Name}}PartialDataError struct {
    data *{{.ResponseName}}
    err error
}

func (err *{{.Name}}PartialDataError) Error() string {
    if err == nil || err.err == nil {
        return "graphql response contains partial data"
    }
    return err.err.Error()
}

func (err *{{.Name}}PartialDataError) Unwrap() error {
    if err == nil {
        return nil
    }
    return err.err
}

func (err *{{.Name}}PartialDataError) PartialData() *{{.ResponseName}} {
    if err == nil {
        return nil
    }
    return err.data
}

{{.Doc}}
func {{.Name}}(
    {{if ne .Config.ContextType "-" -}}
    {{.ContextName}} {{ref .Config.ContextType}},
    {{end}}
    {{- if not .Config.ClientGetter -}}
    {{.ClientName}} *{{ref "github.com/willabides/octoql.Client"}},
    {{end}}
    {{- if .Input -}}
    {{- range .Input.Fields -}}
    {{/* the GraphQL name here is the user-specified variable-name */ -}}
    {{.GraphQLName}} {{.GoType.Reference}},
    {{end -}}
    {{end -}}
) (*{{.ResponseName}}, error) {
    {{if .Config.ClientGetter -}}
    {{.ClientName}}, {{.ErrorName}} := {{ref .Config.ClientGetter}}({{if ne .Config.ContextType "-"}}{{.ContextName}}{{else}}{{end}})
    if {{.ErrorName}} != nil {
        return nil, {{.ErrorName}}
    }
    {{end -}}
    {{if .Input -}}
    {{.VariablesName}} := {{.Input.GoName}}{
        {{range .Input.Fields -}}
        {{.GoName}}: {{.GraphQLName}},
        {{end -}}
    }
    {{end -}}
    var {{.ResponseVariableName}} {{.ResponseName}}
    {{.HasDataName}}, {{.ErrorName}} := {{.ClientName}}.Execute(
        {{if ne .Config.ContextType "-"}}{{.ContextName}}{{else}}{{ref "context.Background"}}(){{end}},
        {{ref "github.com/willabides/octoql.Payload"}}{
            OperationName: "{{.Name}}",
            Query: {{.Name}}_Operation,
            Variables: {{if .Input}}&{{.VariablesName}}{{else}}nil{{end}},
        },
        &{{.ResponseVariableName}},
    )
    if !{{.HasDataName}} {
        return nil, {{.ErrorName}}
    }
    if {{.ErrorName}} != nil {
        return nil, &{{.Name}}PartialDataError{
            data: &{{.ResponseVariableName}},
            err: {{.ErrorName}},
        }
    }
    return &{{.ResponseVariableName}}, nil
}
