// The {{.Type}} executed by {{.Name}}.
const {{.Name}}_Operation = `{{$.Body}}`

{{if and .Config.TestHandlerGenerated .Input -}}
// {{.Name}}Variables contains the variables accepted by {{.Name}}.
type {{.Name}}Variables = {{.Input.GoName}}

{{end -}}
{{.Doc}}
func {{.Name}}(
    {{if ne .Config.ContextType "-" -}}
    {{.ContextName}} {{ref .Config.ContextType}},
    {{end}}
    {{- if not .Config.ClientGetter -}}
    {{.ClientName}} *{{ref "github.com/willabides/octoql.Client"}},
    {{end}}
    {{- if .Input -}}
    {{- range .Input.Fields -}}
    {{/* the GraphQL name here is the user-specified variable-name */ -}}
    {{.GraphQLName}} {{.GoType.Reference}},
    {{end -}}
    {{end -}}
) (*{{.ResponseName}}, error) {
    {{if .Config.ClientGetter -}}
    {{.ClientName}}, {{.ErrorName}} := {{ref .Config.ClientGetter}}({{if ne .Config.ContextType "-"}}{{.ContextName}}{{else}}{{end}})
    if {{.ErrorName}} != nil {
        return nil, {{.ErrorName}}
    }
    {{end -}}
    {{if .Input -}}
    {{.VariablesName}} := {{.Input.GoName}}{
        {{range .Input.Fields -}}
        {{.GoName}}: {{.GraphQLName}},
        {{end -}}
    }
    {{end -}}
    return __octoqlDo[{{.ResponseName}}](
        {{if ne .Config.ContextType "-"}}{{.ContextName}}{{else}}{{ref "context.Background"}}(){{end}},
        {{.ClientName}},
        {{ref "github.com/willabides/octoql.Payload"}}{
            OperationName: "{{.Name}}",
            Query: {{.Name}}_Operation,
            Variables: {{if .Input}}&{{.VariablesName}}{{else}}nil{{end}},
        },
    )
}
