{{- $contextType := ref "context.Context" -}}
// The {{.Type}} executed by {{.Name}}.
const {{.Name}}_Operation = {{printf "%q" $.Body}}

// {{.Name}}PartialDataError contains partial data returned by {{.Name}}.
type {{.Name}}PartialDataError struct {
    data *{{.ResponseName}}
    err error
}

func (e *{{.Name}}PartialDataError) Error() string {
    if e == nil || e.err == nil {
        return "graphql response contains partial data"
    }
    return e.err.Error()
}

func (e *{{.Name}}PartialDataError) Unwrap() error {
    if e == nil {
        return nil
    }
    return e.err
}

func (e *{{.Name}}PartialDataError) PartialData() *{{.ResponseName}} {
    if e == nil {
        return nil
    }
    return e.data
}

{{.Doc}}
func {{.Name}}(
    {{if ne .Config.ContextType "-" -}}
    ctx {{ref .Config.ContextType}},
    {{end}}
    {{- if not .Config.ClientGetter -}}
    client *{{ref "github.com/willabides/octoql.Client"}},
    {{end}}
    {{- if .Input -}}
    vars {{.Input.GoName}},
    {{end -}}
) (*{{.ResponseName}}, error) {
    {{if .Config.ClientGetter -}}
    client, err := {{ref .Config.ClientGetter}}({{if ne .Config.ContextType "-"}}ctx{{else}}{{end}})
    if err != nil {
        return nil, err
    }
    {{end -}}
    return __octoqlExecute[{{.ResponseName}}](
        {{if ne .Config.ContextType "-"}}ctx{{else}}{{ref "context.Background"}}(){{end}},
        client,
        {{ref "github.com/willabides/octoql.Payload"}}{
            OperationName: "{{.Name}}",
            Query: {{.Name}}_Operation,
            Variables: {{if .Input}}&vars{{else}}nil{{end}},
        },
        func(data *{{.ResponseName}}, err error) error {
            return &{{.Name}}PartialDataError{
                data: data,
                err: err,
            }
        },
    )
}
