type __octoqlPartialDataError[T interface{}] struct {
	data *T
	err  error
}

func (err *__octoqlPartialDataError[T]) Error() string {
	if err == nil || err.err == nil {
		return "graphql response contains partial data"
	}
	return err.err.Error()
}

func (err *__octoqlPartialDataError[T]) Unwrap() error {
	if err == nil {
		return nil
	}
	return err.err
}

func (err *__octoqlPartialDataError[T]) PartialData() *T {
	if err == nil {
		return nil
	}
	return err.data
}
